<div id="works" *ngIf="show">
  <p *ngIf="submittedWorks">Pristigli naučni radovi</p>
  <p *ngIf="assignedWorks">Dodijeljeni naučni radovi</p>
  <p *ngIf="authorsWorks">Naučni radovi čiji format nije u redu</p>
  <table id="table1" class="table table-hover">
    <thead>
    <tr>
      <td>Naziv</td>
      <td>Časopis</td>
      <td>Naučna oblast</td>
      <td>Ključne riječi</td>
      <td>Autor(i)</td>
      <td *ngIf="submittedWorks || reviewedWorks || assignedWorks">Status</td>
      <td>PDF</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr id="tr1" *ngFor="let work of works">
      <td>
        {{work.title}}
      </td>
      <td>
        {{work.journalTitle}}
      </td>
      <td>
        {{work.subjectArea}}
      </td>
      <td>
        {{work.keywords}}
      </td>
      <td>
        <div *ngFor="let a of work.authors">
          {{a.firstName}} {{a.lastName}} <br/>
        </div>
      </td>

      <td *ngIf="submittedWorks && work.status !== 'minor-updates-done'">
        Na čekanju
      </td>

      <td *ngIf="submittedWorks && work.status === 'minor-updates-done'">
        Sitne zamjerke ispravljene
      </td>

      <td *ngIf="reviewedWorks">
        Recenziran
      </td>

      <td *ngIf="assignedWorks && work.status === 'revision-needed'">
        Potrebna recenzija
      </td>

      <td *ngIf="assignedWorks && work.status === 'major-updates-done'">
        Uslovno prihvaćen rad
      </td>

      <td>
        <button id="downloadBtn" *ngIf="work.location !== ''" type="submit" (click)="openFile(work.location);">Pogledajte PDF</button>
        <div *ngIf="work.location === ''">
          /
        </div>
      </td>

      <td *ngIf="submittedWorks && work.status !== 'minor-updates-done'">
        <button title="Kliknite da biste odobrili format i tematiku rada!"
                class="btn btn-success" (click)="validation(work, 'true', 'true');">Na recenziranje</button>
      </td>
      <td *ngIf="submittedWorks && work.status !== 'minor-updates-done'">
        <button title="Kliknite da biste vratili rad autoru na prepravku!"
                class="btn btn-warning" (click)="onModalOpen(work);">Format neprihvatljiv</button>
      </td>
      <td *ngIf="submittedWorks && work.status !== 'minor-updates-done'">
        <button title="Kliknite da biste odbili naučni rad!"
                class="btn btn-danger" (click)="validation(work, 'false', 'false');">Odbijanje</button>
      </td>
      <td *ngIf="submittedWorks && work.status === 'minor-updates-done'">
        <button title="Kliknite da biste provjerili izmjene koje je načinio autor!"
                class="btn btn-success" (click)="seeRevisionsAfterChange(work);">Pregled ispravki</button>
      </td>
      <td *ngIf="reviewedWorks">
        <button title="Kliknite da biste vidjeli recenzije za naučni rad!"
                class="btn btn-success" (click)="seeRevisions(work);">Pogledajte recenzije</button>
      </td>
      <td *ngIf="assignedWorks && work.status === 'revision-needed'">
        <button title="Kliknite da biste odabrali recenzente i poslali rad na recenziranje!"
                class="btn btn-success" (click)="chooseReviewers(work);">Odaberite recenzente</button>
      </td>
      <td *ngIf="assignedWorks && work.status === 'major-updates-done'">
        <button title="Kliknite da biste poslali  rad na recenziranje prethodno odabranim recenzentima!"
                class="btn btn-success" (click)="onModalOpen(work);">Pošaljite rad istim recenzentima</button>
      </td>
      <td *ngIf="authorsWorks || authorsReviewedWorks">
        <button title="Kliknite da biste izmijenili rad i poslali ga ponovo uredniku!"
                class="btn btn-success" (click)="changeScientificWork(work);">Izmijenite rad</button>
      </td>
      <td *ngIf="reviewerWorks">
        <button title="Kliknite da biste recenzirali rad!"
                class="btn btn-success" (click)="review(work);">Recenzirajte rad</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div [ngStyle]="{'display':display}" class="modal" id="commentModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" (click)="onModalClose()">&times;</button>
          <h2 *ngIf="submittedWorks" class="modal-title">Unesite komentar za autora:</h2>
          <h2 *ngIf="assignedWorks" class="modal-title">Unesite rok ze recenziranje:</h2>
        </div>
        <div class="modal-body">
          <form *ngIf="submittedWorks" submittedWorks (ngSubmit)="validation(chosenWork, 'true', 'false');">
            <div class="form-group">
              <label for="comments">Komentar:</label>
              <input [(ngModel)]="comment" class="form-control" placeholder="Komentar"
                     type="string" id="comments" name="comments" required>
              <label for="deadline">Broj dana za prepravku:</label>
              <input [(ngModel)]="deadline" min="0" max="30" step="1" class="form-control"
                     type="number" id="deadline" name="deadline" required>
            </div>
          </form>

          <form *ngIf="assignedWorks" (ngSubmit)="sendToReviewers(chosenWork);">
            <div class="form-group">
              <label for="deadlineR">Broj dana za recenziranje:</label>
              <input [(ngModel)]="deadline" min="0" max="30" step="1" class="form-control"
                     type="number" id="deadlineR" name="deadlineR" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button *ngIf="submittedWorks" id="sendButton" class="btn btn-success" (click)="validation(chosenWork, 'true', 'false');">Pošaljite komentar</button>
          <button *ngIf="assignedWorks" id="sendButton2" class="btn btn-success" (click)="sendToReviewers(chosenWork);">Pošaljite rad recenzentima</button>
          <button id="modalCloseButton" class="btn btn-primary" data-dismiss="modal" (click)="onModalClose()">Zatvorite</button>
        </div>
      </div>
    </div>
  </div>

</div>

