#works{
  position: absolute;
  left: 5%;
  top: 10%;
}

.table{
  width: 700px;
  white-space:nowrap;
}

#downloadBtn {
  background:none!important;
  color:blue;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

#commentModal{
  top: 10%;
}
