#works{
  position: absolute;
  left: 20%;
  top: 10%;
}

#table1{
  width: 700px;
  height: 600px;
  white-space:nowrap;
}

#table2 {
  height: 340px;
}

#searching {
  height: 350px;
}

#searchForm, #query
{
  display:inline-block;
}

.form-group {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchForm{
  width: 300px;
}

#query {
  margin-left: 100px;
  height: 350px;
  overflow-x: auto;
  overflow-y: auto;
}

#divForm {
  margin-top: 50px;
}

#addButton {
  width: 50px;
}

label {
  white-space: nowrap;
  margin-right: 15px;
}

#downloadBtn {
  background:none!important;
  color:blue;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}
