<div id="works" *ngIf="show">

  <div id="searching">
    <div id="searchForm">
      Pretraživanje:

      <div class="form-group">
        <label for="field" >Parametar: </label>
        <select [(ngModel)] = "searchValue.field" class="form-control" id="field">
          <option value="title">Naslov rada</option>
          <option value="journal">Naziv časopisa</option>
          <option value="keywords">Ključna riječ</option>
          <option value="subjectArea">Naučna oblast</option>
          <option value="content">Sadržaj rada</option>
          <option value="authors.firstName">Ime autora</option>
          <option value="authors.lastName">Prezime autora</option>
        </select>
      </div>

      <div class="form-group">
        <label for="value" >Kriterijum: </label>
        <input [(ngModel)]="searchValue.value" class="form-control" id="value" type="text">
      </div>

      <div class="form-group">
        <label for="option" >Operator upita?</label>
        <select [(ngModel)] = "searchValue.operator" class="form-control" id="option">
          <option value="AND">I</option>
          <option value="OR">ILI</option>
        </select>
      </div>

      <div class="form-group">
        <label for="phrase" >Način pretraživanja?</label>
        <select [(ngModel)] = "searchValue.type" class="form-control" id="phrase">
          <option value="regular">Regularno</option>
          <option value="phrase">Kao frazu</option>
        </select>
      </div>


      <input id="addButton" class="btn btn-lg btn-success btn-block" type="button" (click)="addQuery();" value="+"
        *ngIf="searchValue.field !== '' && searchValue.value !== '' && searchValue.operator !== '' && searchValue.type !== ''">

      <input *ngIf="searchQueries.length > 0" class="btn btn-lg btn-primary btn-block" type="button" (click)="search();" value="Pretraživanje">
    </div>

    <div id="query" *ngIf="searchQueries.length > 0">
      <h3>Upiti</h3>
      <table id="table2" class="table">
        <thead>
        <tr>
          <td>Polje</td>
          <td>Vrijednost</td>
          <td>Operator</td>
          <td>Način</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr id="tr" *ngFor="let query of searchQueries">
          <td>
            <div *ngIf="query.field === 'title'">
              Naslov rada
            </div>
            <div *ngIf="query.field === 'journal'">
              Naziv časopisa
            </div>
            <div *ngIf="query.field === 'keywords'">
              Ključna riječ
            </div>
            <div *ngIf="query.field === 'subjectArea'">
              Naučna oblast
            </div>
            <div *ngIf="query.field === 'content'">
              Sadržaj rada
            </div>
            <div *ngIf="query.field === 'authors.firstName'">
              Ime autora
            </div>
            <div *ngIf="query.field === 'authors.lastName'">
              Prezime autora
            </div>
          </td>
          <td>
            {{query.value}}
          </td>
          <td>
            <div *ngIf="query.operator === 'AND'">
              I
            </div>
            <div *ngIf="query.operator === 'OR'">
              ILI
            </div>
          </td>
          <td>
            <div *ngIf="query.type === 'regular'">
              Regularno
            </div>
            <div *ngIf="query.type === 'phrase'">
              Kao frazu
            </div>
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeQuery(query)">Uklonite</button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div id="tableForm">
  <table *ngIf="searchResults.length > 0" id="table1" class="table table-hover">
    <thead>
    <tr>
      <td>Rezultati</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr id="tr1" *ngFor="let work of searchResults">
      <td>
        Naslov rada: {{work.title}} <br/>
        DOI: {{work.doi}} <br/>
        Naziv časopisa: {{work.journal}} <br/>
        Naučna oblast: {{work.subjectArea}} <br/>
        Ključne riječi: {{work.keywords}} <br/>
        Autori: {{work.authors}} <br/> <br/>
        Pronađeni termovi: <br/>
        <div id="highlightDiv" [innerHtml]=sanitizer.bypassSecurityTrustHtml(work.highlight)></div>
      </td>
      <td>
        <div *ngIf="work.openAccess">
          <button id="downloadBtn" *ngIf="work.location !== ''" type="submit" (click)="openFile(work.location);">Show PDF</button>
        </div>
        <div *ngIf="!work.openAccess">
          <button class="btn btn-danger" (click)="proceedToPaying(work);"
                  title="This journal is not open acces! Click to buy this article!">Proceed to paying</button>
        </div>
      </td>
      <br/><br/>
    </tr>
    </tbody>
  </table>
  </div>
</div>

