#registration{
  position: absolute;
  left: 18%;
  top: 10%;
}

#reg, #subjects
{
  margin-top: 25px;
  display:inline-block;
}

#select1, #button {
  display: inline-block;
}

#reg {
  float: left;
  width: 350px;
  height: 300px;
}

#subjects {
  float: right;
  width: 350px;
  height: 500px;
  border:1px solid lightgray;
  margin-left: 150px;
  margin-top: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

.table {
  width: 320px;
  white-space:nowrap;
}


