<div id="registration" *ngIf="show">
  <div id="reg">
    <div class="panel-heading">
      <h3 class="panel-title">Unesite podatke</h3> <br/> <br/>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" role="form" name="sign-in-form" #f="ngForm" ngNativeValidate>

        <fieldset>
          <div *ngFor="let field of formFields" >
            <div class="form-group">
              <label *ngIf="field.id != 'subjectArea' && field.id != 'rank'" for= {{field.id}} > {{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string' && field.id != 'rank'" required>

              <select [(ngModel)]="role" class="form-control" name="{{field.id}}"
                      *ngIf="field.type.name === 'enum' && field.id === 'role'">
                <option *ngFor="let val of enumRole" value={{val}}>
                  {{field.type.values[val]}}
                </option>
              </select>

              <div *ngIf="role != 'author'">

                <label *ngIf="field.id == 'subjectArea' || field.id == 'rank'" for= {{field.id}} > {{field.label}}</label>

                  <select id="select1" [(ngModel)]="chosenSubject" class="form-control" name="{{field.id}}"
                          *ngIf="field.type.name === 'enum' && field.id === 'subjectArea'">
                    <option *ngFor="let val of enumAreas" value={{field.type.values[val]}}>
                      {{field.type.values[val]}}
                    </option>
                  </select>
                  <button id="button" *ngIf="field.id == 'subjectArea'" class="btn btn-primary" (click)="choose()"
                          title="Kliknite da biste dodali odabranu oblast!">+</button>

                <input class="form-control" type="text" name={{field.id}} ngModel
                       *ngIf="field.type.name=='string' && field.id === 'rank'" required>
              </div>
            </div>
          </div>
          <br/>
          <input class="btn btn-lg btn-success btn-block" type="button" (click)="register(f.value);" value="Registrujte se">
        </fieldset>
      </form>
    </div>
  </div>

  <div id="subjects" *ngIf="role != 'author'">
    <h3>Odabrane oblasti</h3>
    <table id="table1" class="table">
      <thead>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr id="tr" *ngFor="let subj of chosenSubjects">

        <td>
          {{subj}}
        </td>
        <td>
          <button class="btn btn-danger" (click)="remove(subj)">Uklonite</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
