<div id="journals">
  <p>Odaberite jedan časopis</p>
  <table id="table1" class="table table-hover">
    <thead>
    <tr>
      <td>Naziv</td>
      <td>ISSN Broj</td>
      <td>Urednik</td>
      <td>Dozvoljen pristup svima?</td>
      <td>Naučne oblasti</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr id="tr1" *ngFor="let journal of journals | paginate: { itemsPerPage: pageSize,
        currentPage: currentPageNum, totalItems: totalJournals, id:'journalsPagination' }">
      <td>
        {{journal.title}}
      </td>
      <td>
        {{journal.issn}}
      </td>
      <td>
        {{journal.editor.firstName}} {{journal.editor.lastName}}
      </td>
      <td>
        <div *ngIf="journal.openAccess">
          Da
        </div>
        <div *ngIf="!journal.openAccess">
          Ne
        </div>
      </td>
      <td>
        <div *ngFor="let area of journal.subjectAreas">
          {{area.area}} <br/>
        </div>
      </td>
      <td>
        <button title="Kliknite da biste odabrali ovaj časopis!" class="btn btn-primary"
                (click)="chooseJournal(journal.issn);">Odaberite</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" id="journalsPagination"></pagination-controls>

</div>
