<div id="revision">
  <div id="reg" *ngIf="show">
    <div class="panel-heading">
      <h3 class="panel-title">Unesite komentare:</h3> <br/> <br/>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" role="form" name="sign-in-form" #f="ngForm" ngNativeValidate>

        <fieldset>
          <div *ngFor="let field of formFields" >
            <div class="form-group">
              <label for= {{field.id}} > {{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string'" required>

              <select [(ngModel)]="chosenRecommendation" class="form-control" name="{{field.id}}"
                      *ngIf="field.type.name === 'enum' && field.id === 'recommendation'">
                <option *ngFor="let val of enumRecommendation" value={{field.type.values[val]}}>
                  {{field.type.values[val]}}
                </option>
              </select>

            </div>
          </div>

          <br/>


        </fieldset>
        <input class="btn btn-lg btn-success btn-block" type="button" (click)="sendRevision(f.value);" value="Pošaljite recenziju">
      </form>

    </div>
  </div>
  <div id="majorComments" *ngIf="majorShow">
    Informacije o radu: <br/>
    Naučni rad: {{majorChangesDetails.scientificWork.title}} <br/>
    Naučna oblast: {{majorChangesDetails.scientificWork.subjectArea}} <br/>
    Ključne riječi: {{majorChangesDetails.scientificWork.keywords}} <br/>
    Autori:
    <div *ngFor="let a of majorChangesDetails.scientificWork.authors">
      {{a.firstName}} {{a.lastName}} <br/>
    </div>
    <br/>
    <button id="downloadBtn" *ngIf="majorChangesDetails.scientificWork.location !== ''" type="submit" (click)="openFile(majorChangesDetails.scientificWork.location);">Pogledajte PDF</button>
    <br/><br/>
    Komentar autora o izmjenama koje je načinio:
    <u> {{majorChangesDetails.answeringComments}} </u>
  </div>
  <br/>
</div>
