#revision{
  position: absolute;
  left: 18%;
  top: 10%;
}

#reg, #majorComments
{
  margin-top: 25px;
  display:inline-block;
}

#reg {
  float: left;
  width: 400px;
  height: 400px;
}

#majorComments{
  float: right;
  margin-left: 100px;
  width: 500px;
}

u {
  color: red;
}

#downloadBtn {
  background:none!important;
  color:blue;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}
