<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Početna</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" routerLink="/login">Prijavljivanje</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" routerLink="/registration">Registracija</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" routerLink="/accepted-scientific-works">Prihvaćeni radovi</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'author'">
        <a class="nav-link" routerLink="../scientific-work-submission">Objavljivanje naučnog rada</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'author'">
        <a class="nav-link" routerLink="../submitted-scientific-works/format">Vraćeni radovi zbog neprihavtljivog formata</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'author'">
        <a class="nav-link" routerLink="../submitted-scientific-works/revision">Vraćeni recenzirani radovi</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'editor'">
        <a class="nav-link" routerLink="../submitted-scientific-works">Pregled pristiglih radova</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'editor'">
        <a class="nav-link" routerLink="../submitted-scientific-works/assigned">Slanje radova recenzentima</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'editor'">
        <a class="nav-link" routerLink="../submitted-scientific-works/reviewed">Pregled recenziranih radova</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'reviewer'">
        <a class="nav-link" routerLink="../submitted-scientific-works/reviewers">Pristigli radovi za recenziranje</a>
      </li>
      <li class="nav-item"  *ngIf="loggedIn() && getRole() === 'editor'">
        <a class="nav-link" routerLink="../submitted-scientific-works/reviewers">Pristigli radovi za recenziranje</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="loggedIn()">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logut()">Odjavljivanje</a>
      </li>
    </ul>
  </div>
</nav>
<ngx-toasta [position]="'top-center'"></ngx-toasta>
<router-outlet></router-outlet>
