<div id="revisions" *ngIf="show">
  <table id="table1" class="table table-hover">
    <thead>
    <tr>
      <td>Recenzent</td>
      <td>Komentar za autora</td>
      <td>Komentar za Vas</td>
      <td>Preporuka o prihvatanju</td>
    </tr>
    </thead>
    <tbody>
    <tr id="tr1" *ngFor="let review of reviews">
      <td>
        {{review.reviewer.firstName}} {{review.reviewer.lastName}}
      </td>
      <td>
        {{review.commentToAuthor}}
      </td>
      <td>
        {{review.commentToEditor}}
      </td>
      <td>
        <div *ngIf="review.recommendation === 'accept'">
          <u> Prihvatiti </u>
        </div>
        <div *ngIf="review.recommendation === 'minorUpdates'">
          <u> Prihvatiti uz manje prepravke </u>
        </div>
        <div *ngIf="review.recommendation === 'majorUpdates'">
          <u> Uslovno prihvatiti uz veće prepravke </u>
        </div>
        <div *ngIf="review.recommendation === 'reject'">
          <u> Odbiti </u>
        </div>
      </td>

  </table>

  <div *ngIf="minorChangesShow">
    Informacije o radu: <br/>
    Naučni rad: {{minorChangesDeatils.scientificWork.title}} <br/>
    Naučna oblast: {{minorChangesDeatils.scientificWork.subjectArea}} <br/>
    Ključne riječi: {{minorChangesDeatils.scientificWork.keywords}} <br/>
    Autori:
    <div *ngFor="let a of minorChangesDeatils.scientificWork.authors">
      {{a.firstName}} {{a.lastName}} <br/>
    </div>
    <br/>
    <button id="downloadBtn" *ngIf="minorChangesDeatils.scientificWork.location !== ''" type="submit" (click)="openFile(minorChangesDeatils.scientificWork.location);">Pogledajte PDF</button>
    <br/><br/>
    Komentar autora o izmjenama koje je načinio:
    <u> {{minorChangesDeatils.answeringComments}} </u>
  </div>
  <br/>

  <div id="button1" *ngIf="regularShow">
    <button title="Kliknite da biste poslali naučni rad na dodatnu recenziju!"
            class="btn btn-warning" (click)="additionalRevision();">Dodatna recenzija</button>
  </div>

  <div id="button2" *ngIf="regularShow">
    <button title="Kliknite da biste prihvatili rad!"
            class="btn btn-primary" (click)="onModalOpen();">Prihvatanje / Odbijanje rada</button>
  </div>

  <div id="button3" *ngIf="minorChangesShow">
    <button title="Kliknite da biste prihvatili rad!"
            class="btn btn-primary" (click)="onModalOpen();">Prihvatanje / Odbijanje rada</button>
  </div>

  <div [ngStyle]="{'display':display}" class="modal" id="decisionModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" (click)="onModalClose()">&times;</button>
          <h2 class="modal-title">Da li želite prihvatiti rad?</h2>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form" name="sign-in-form" #f="ngForm" ngNativeValidate>
              <fieldset>
                <div *ngIf="regularShow">
                  <div *ngFor="let field of formFields" >
                    <div class="form-group">
                      <label *ngIf="(field.type.name === 'long' && chosenDecision !== 'Prihvatiti' && chosenDecision !== 'Odbiti')
                     || field.type.name === 'enum'" for= {{field.id}} > {{field.label}}</label>

                      <input class="form-control" type="number" min="1" max="21" name={{field.id}} ngModel
                             *ngIf="field.type.name === 'long' && chosenDecision !== 'Prihvatiti' && chosenDecision !== 'Odbiti'"
                             required>

                      <select [(ngModel)]="chosenDecision" class="form-control" name="{{field.id}}"
                              *ngIf="field.type.name === 'enum' && field.id === 'decision'">
                        <option *ngFor="let val of enumDecision" value={{field.type.values[val]}}>
                          {{field.type.values[val]}}
                        </option>
                      </select>

                    </div>
                    <br/>
                  </div>
                </div>
                <div *ngIf="minorChangesShow">
                  <div *ngFor="let field of formFields" >
                    <div class="form-group">
                      <label *ngIf="(field.type.name === 'long' && !isAccepted)
                        || field.type.name === 'boolean'" for= {{field.id}} > {{field.label}}</label>

                      <input [(ngModel)]="hours" class="form-control" type="number" min="1" max="48" name={{field.id}} ngModel
                             *ngIf="field.type.name === 'long' && !isAccepted" required>

                      <input class="form-control" type="checkbox" [(ngModel)]="isAccepted" name={{field.id}} ngModel
                             *ngIf="field.type.name === 'boolean'" required>

                    </div>
                    <br/>
                  </div>
                </div>

              </fieldset>
              <!--input class="btn btn-lg btn-success btn-block" type="button" (click)="decide(f.value);" value="Pošaljite recenziju"-->
            </form>
        </div>
        </div>
        <div class="modal-footer">
          <button id="sendButton" class="btn btn-success" (click)="decide(f.value);">Potvrdite</button>
          <button id="modalCloseButton" class="btn btn-primary" data-dismiss="modal" (click)="onModalClose()">Zatvorite</button>
        </div>
      </div>
    </div>
  </div>

</div>
