#revisions{
  position: absolute;
  left: 5%;
  top: 10%;
}

.table{
  width: 700px;
  white-space:nowrap;
}


#button1, #button2
{
  margin-top: 25px;
  display:inline-block;
}

#decisionModal{
  top: 10%;
}

#button2 {
  margin-left: 25px;
}

u {
  color: red;
}

#downloadBtn {
  background:none!important;
  color:blue;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}
