<div id="login" class="container col-md-6 col-md-offset-3" *ngIf="show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Unesite podatke za prijavljivanje</h3> <br/> <br/>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" role="form" name="sign-in-form" (ngSubmit)="f.form.valid && submit(f.value)" #f="ngForm" novalidate>

        <fieldset>
          <div *ngFor="let field of formFields" >
            <div class="form-group">
              <label for= {{field.id}} > {{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string' && field.id === 'username'" required>

              <input class="form-control" type="password" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string' && field.id === 'password'" required>
            </div>
          </div>

          <input id="signInButton" class="btn btn-lg btn-success btn-block" type="submit" value="Ulogujte se">
        </fieldset>
      </form>
    </div>
  </div>
</div>
