<div id="submission" *ngIf="show">
  <div id="reg">
    <div class="panel-heading">
      <h3 class="panel-title">Unesite podatke</h3> <br/> <br/>
    </div>
    <div class="panel-body">
      <form *ngIf="!changingFormat && !changingFromRevision" enctype="multipart/form-data" accept-charset="UTF-8" role="form" name="sign-in-form" #f="ngForm" ngNativeValidate>

        <fieldset>
          <div *ngFor="let field of formFields" >
            <div class="form-group">
              <label *ngIf="field.id != 'authors'" for= {{field.id}} > {{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string' && field.id != 'pdf' && field.id != 'authors'" required>

              <select [(ngModel)]="scientificWork.subjectArea" class="form-control" name="{{field.id}}"
                      *ngIf="field.type.name === 'enum' && field.id === 'subjectArea'">
                <option *ngFor="let val of enumAreas" value={{field.type.values[val]}}>
                  {{field.type.values[val]}}
                </option>
              </select>

              <input *ngIf="field.id === 'pdf'" #files class="form-control" name={{field.id}}
                type="file" accept="application/pdf">
            </div>
          </div>

          <br/>


        </fieldset>
        <input class="btn btn-lg btn-success btn-block" type="button" (click)="submit(f.value);" value="Pošaljite rad">
      </form>
      <form *ngIf="changingFormat || changingFromRevision" enctype="multipart/form-data" accept-charset="UTF-8" role="form" name="sign-in-form" #f="ngForm" ngNativeValidate>

        <fieldset>
          <div class="form-group">
            <label for="title" > Naslov: </label>
            <input [(ngModel)]="scientificWork.title" class="form-control" type="text" name=title id=title ngModel readonly="readonly">
          </div>
          <div class="form-group">
            <label for="keywords" > Ključne riječi: </label>
            <input [(ngModel)]="scientificWork.keywords" class="form-control" type="text" name="keywords" id="keywords" ngModel required>
          </div>
          <div class="form-group">
            <label for="abstract" > Apstrakt: </label>
            <input [(ngModel)]="scientificWork.shortAbstract" class="form-control" type="text" name="abstract" id="abstract" ngModel required>
          </div>
          <div class="form-group">
            <label for="subjectArea" > Naučna oblast: </label>
            <input [(ngModel)]="scientificWork.subjectArea" class="form-control" type="text" name="subjectArea" id="subjectArea" ngModel
                      readonly="readonly">
          </div>
          <div class="form-group">
            <label for="file" > PDF File: </label>
            <input #files class="form-control" name="file" id="file"
                   type="file" accept="application/pdf" required>
          </div>

          <div *ngIf="changingFromRevision" >
            <div *ngFor="let field of formFieldsRevision">
            <div class="form-group">
              <label *ngIf="field.id != 'pdf'" for= {{field.id}} > {{field.label}}</label>

              <input class="form-control" type="text" name={{field.id}} ngModel
                     *ngIf="field.type.name=='string' && field.id != 'pdf'" required>

            </div>
            </div>
          </div>

          <br/>

        </fieldset>
        <input class="btn btn-lg btn-success btn-block" type="button" (click)="submit(f.value);" value="Pošaljite izmjene">
      </form>

    </div>
  </div>

  <div id="authors">
    <div *ngIf="changingFormat">
      <h3>Komentar urednika vezan za odbijanje:</h3>
      <p> <u>{{comment}}</u> </p>
    </div>
    <div *ngIf="changingFromRevision && revisionComments.length > 0">
      <h3>Komentar recenzenata o zamjerkama:</h3>
      <div *ngFor="let comm of revisionComments" >
        <p> Komentar: <u>{{comm}} </u>  </p> <br/>
      </div>
    </div>
    <div *ngIf="!changingFormat && !changingFromRevision" id="divForm" class="panel-body">
      <form accept-charset="UTF-8" role="form" name="sign-in-form" #f1="ngForm" ngNativeValidate>
        <fieldset>
          <div class="form-group">
            <label> Unesite ime koautora: </label>
            <input [(ngModel)]="newAuthor.firstName" class="form-control" type="text" name="fName" required>
          </div>

          <div class="form-group">
            <label> Unesite prezime koautora: </label>
            <input [(ngModel)]="newAuthor.lastName" class="form-control" type="text" name="lName" required>
          </div>

          <div class="form-group">
            <label> Unesite email adresu koautora: </label>
            <input [(ngModel)]="newAuthor.email" class="form-control" type="email" name="email" required>
          </div>

          <div class="form-group">
            <label> Unesite grad koautora: </label>
            <input [(ngModel)]="newAuthor.city" class="form-control" type="text" name="city" required>
          </div>

          <div class="form-group">
            <label> Unesite državu koautora: </label>
            <input [(ngModel)]="newAuthor.state" class="form-control" type="text" name="state" required>
          </div>
          <br/>
          <button id="button" class="btn btn-primary" (click)="addNewAuthor()"
                  title="Kliknite da biste dodali koautora!">Dodajte koautora</button>

          <br/>

        </fieldset>
      </form>
    </div>
    <div *ngIf="!changingFormat && !changingFromRevision" id="coauthors">
    <h3>Koautori</h3>
      <table id="table1" class="table">
        <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr id="tr" *ngFor="let author of coAuthors">

          <td>
            {{author.firstName}} {{author.lastName}}
          </td>
          <td>
            {{author.email}}
          </td>
          <td>
            {{author.city}}, {{author.state}}
          </td>
          <td>
            <button class="btn btn-danger" (click)="remove(author)">Uklonite</button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

