#submission{
  position: absolute;
  left: 18%;
  top: 10%;
}

#reg, #authors
{
  margin-top: 25px;
  display:inline-block;
}


#reg {
  float: left;
  width: 300px;
  height: 300px;
}

#authors{
  float: right;
  margin-left: 100px;
  width: 500px;
}

#divForm{
  height: 500px;
}

#coauthors {
  height: 500px;
  border:1px solid lightgray;
  overflow-x: auto;
  overflow-y: auto;
}

.table {
  width: 320px;
  white-space:nowrap;
}


u {
  color: red;
}
