<div id="choosing">
  <p *ngIf="!additional">Molimo Vas izaberite {{totalNeeded}} recenzenta</p>
  <p *ngIf="additional"> Molimo Vas izaberite dodatnog recenzenta</p>
  <div id="buttons">
    <select id="selection" [(ngModel)]="option" class="form-control" name="optionReviewers">
      <option value="all">Svi</option>
      <option value="subject-area">Naučna oblast</option>
      <option value="geo-distance">Iz područja dalje od 100km</option>
      <option value="more-like-this">Koji su recenzirali slične radove</option>
    </select>

    <br/>

    <button class="btn btn-primary" (click)="getReviewers();"
            title="Kliknite da biste dobavili recenzente!">Dobavite recenzete</button>
  </div>
  <div id="reviewers" *ngIf="show">
    <p>Recenzenti</p>
    <table id="table1" class="table table-hover">
      <thead>
      <tr>
        <td>Ime</td>
        <td>Email</td>
        <td>Zvanje</td>
        <td>Mjesto</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr id="tr1" *ngFor="let r of reviewers">
        <td>
          {{r.firstName}} {{r.lastName}}
        </td>
        <td>
          {{r.email}}
        </td>
        <td>
          {{r.rank}}
        </td>
        <td>
          {{r.city}}, {{r.state}}
        </td>
        <td>
          <button title="Kliknite da biste odabrali recenzenta!"
                  class="btn btn-success" (click)="addNewReviewer(r);">Odaberite recenzenta</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div id="reviewersChosen" *ngIf="show">
    <p>Odabrani</p>
    <table id="table2" class="table table-hover">
      <thead>
      <tr>
        <td>Ime</td>
        <td>Email</td>
        <td>Zvanje</td>
        <td>Mjesto</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr id="tr2" *ngFor="let r of reviewersChosen">
        <td>
          {{r.firstName}} {{r.lastName}}
        </td>
        <td>
          {{r.email}}
        </td>
        <td>
          {{r.rank}}
        </td>
        <td>
          {{r.city}}, {{r.state}}
        </td>
        <td>
          <button title="Kliknite da biste uklonili recenzenta!"
                  class="btn btn-danger" (click)="removeReviewer(r);">Uklonite recenzenta</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="reviewersChosen.length >= totalNeeded" title="Kliknite da biste poslali recenzentima rad na recenzentima!"
            class="btn btn-success" (click)="onModalOpen();">Pošaljite rad na recenziranje</button>
  </div>

  <div [ngStyle]="{'display':display}" class="modal" id="deadlineModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" (click)="onModalClose();">&times;</button>
          <h2 class="modal-title">Unesite rok ze recenziranje:</h2>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="sendRevision();">
            <div class="form-group">
              <label for="deadline">Broj dana za recenziranje:</label>
              <input [(ngModel)]="deadline" min="0" max="30" step="1" class="form-control"
                     type="number" id="deadline" name="deadline" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="sendButton" class="btn btn-success" (click)="sendRevision();">Nastavite</button>
          <button id="modalCloseButton" class="btn btn-primary" data-dismiss="modal" (click)="onModalClose();">Zatvorite</button>
        </div>
      </div>
    </div>
  </div>

</div>
