#choosing{
  position: absolute;
  left: 5%;
  top: 10%;
}

.table{
  width: 700px;
  white-space:nowrap;
}


#reviewers {
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

#reviewersChosen {
  margin-top: 50px;
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

#selection {
  width: 300px;
}

#deadlineModal {
  top: 10%;
}
